

<br />
<br />
<form action="/customers/<%=@cus.id%>" method = "POST">
    <input type ="hidden" name="_method" value="PATCH">
    <input type = "text" name="name" value ="<%= @cus.name%>">
    <input type = "text" name="phone" value ="<%= @cus.phone%>">
    <input type = "text" name="notes" value ="<%= @cus.notes%>">
    <input type = "submit" value = "Update" > or <br /><h6>
</form>
<form action="/customers/<%=@cus.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete"><br /><br />
    <a href="/customers/<%=@cus.id%>/show">Cancel Edit</a></h6>
</form>