<h3><%= @user.username %></h3>

<h4>Your customer: <%= @cus.name %></h4><br />


<form action="/customers/<%= @cus.id %>/show" method="POST">
<h6><label>Name:  </label><%= @cus.name %>--<a href="/customers/<%= @cus.id %>/edit">Edit</a><br />
    <label>Phone:  </label><%= @cus.phone%><br />
    <label>Notes:  </label><%= @cus.notes%><br />
   <!-- <a href="/customers/<%= @cus.id %>/new">Create an appointment</a> -->
</h6>    
</form><br />
<form action="/customers/<%=@cus.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete"><br /><br />
    <h6><a href="/customers/index">Return to Customers List</a></h6>

</form>


